replicaCount: 1

image:
  repository: ghcr.io/guenoledc/blockchain-ops-kata/application
  pullPolicy: IfNotPresent
  tag: latest

nameOverride: ""
fullnameOverride: ""

imagePullSecrets: []

service:
  type: ClusterIP
  port: 3000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  # Node URL for blockchain connection
  NODE_URL: ""
  # User address for blockchain operations
  USER_ADDRESS: ""
  # Starting block number
  START_BLOCK: ""
  # Number of blocks to process
  NB_BLOCKS: "10"

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

nodeSelector: {}

tolerations: []

affinity: {}
